@use './base.scss' as *;
@use './foundations/functions' as *;

@font-face {
  font-family: 'Montserrat';
  src: url('/_fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montez';
  src: url('/_fonts/Montez-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Montserrat, sans-serif;
}

