@use './base.scss' as *;
@use './foundations/functions' as *;

@font-face {
  font-family: 'Montserrat';
  src: url('/_fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montez';
  src: url('/_fonts/Montez-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Montserrat, sans-serif;
}

.sectionTemporaire--nav {
  display: flex;
  gap: rem(16);
  padding: rem(16);
  background-color: var(--grisFonce);
}

.inventaire {
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  margin-bottom: rem(20);
}

.header {
  width: 100%;
  background-color: black;
  box-shadow: 0 rem(4) rem(8) #0000000d;
  position: sticky;
  top: 0;
  z-index: 100;
  
  &__top {
    display: flex;
    justify-content: space-between;
    padding: rem(12) rem(72);
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;

      &Left {
        display: flex;
        gap: rem(32);

        & > a {
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      }
      &Right {
      display: flex;
      gap: rem(20);

      & > button {
        background-color: #00000000;
        border: none;
        color: white;
        font-family: Montserrat;
        font-size: rem(15);
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: rem(8);
      }

      .LoginIcon {
        width: rem(20);
        height: rem(20);
      }

      .UserIcon {
        width: rem(20);
        height: rem(20);
      }
    }
  }
  &__bottom {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: rem(20) rem(112);
    gap: rem(100);
  }
  &__bottomLeft {
    display: flex;
    align-items: center;
    height: rem(72);
    width: auto;
    gap: rem(100);
  }
  &__sectionlogo {
      height: rem(72);
      min-width: rem(150);
  }
  &__logo {
      height: rem(72);
      width: rem(150);
  }

  &__search {
    display: flex;
    border: solid rem(1) #d9d9d9;
    border-radius: rem(20);
    overflow: hidden;
    height: rem(48);
    gap: rem(30);
  }

  &__shearch-categories {
    font-family: Montserrat;
    border: none;
    display: flex;
    background-color: #d0c5c543;
    white-space: pre;
    width: fit-content;
    font-size: rem(20);
    align-items: center;
    gap: rem(14);
    padding: 0 rem(16);
  }

  &__ArrowDownIcon {
    width: rem(20);
    height: rem(20);
  }

  &__inputSearch {
    font-family: Montserrat;
    border: none;
    font-weight: bold;
    font-size: rem(20);
    width: 100%;

    &::-webkit-input-placeholder {
      color: #d9d9d9;
    }
    &:-ms-input-placeholder {
      color: #d9d9d9;
    }
    &::placeholder {
      color: #d9d9d9;
    }
  }

  &__buttonShearch {
    margin-right: -1px;
    font-family: Montserrat;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: rem(24) rem(20) rem(20) rem(24);
    min-width: rem(46);
  }
  &__IconButtonShearch {
    width: rem(20);
    height: rem(20);
  }
  &__bottomRight {
    display: flex;
    align-items: center;
    gap: rem(24);
  }
  &__panier {
    width: rem(52);
    height: rem(52);
    border: none;
    display: block;
    background-color: #00000000;
  }
  &__IconShoppingCart_PositionPatcher {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__IconShoppingCart {
    width: rem(40);
    height: rem(40);
    margin-top: rem(20);
  }
  &__panier-notification {
    position: relative;
    top: rem(-53);
    left: rem(15);
    width: rem(30);
    height: rem(30);
    background-color: #84bd00;
    border-radius: rem(1000);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__notification-number {
    font-size: rem(20);
    font-weight: 500;
    font-family: Montserrat;
  }
  &__profile {
    width: rem(56);
    height: rem(56);
    border: none;
    border-radius: rem(1000);
    background-image: url(/images/UserNotConnected.png);
    background-size: cover;
    background-position: center;
    border: rem(2) solid #858585;
  }
  &__profile--connected {
    background-image: url(/images/UserConnected.png);
  }
}


.footer{
  background-color: black;
  display: flex;
  color: white;

  &__section_logo {
    
  }

  &__logo {
  
  }

  &__rights {
  
  }

  &__section_FreshRecipe, &r__section_news, &__section_AboutUs, &__section_newsletter {
    

    & > h3 {
    
    }

    & > ul {
      

      & > li {
      
      }
    }
  }

  &__section_newsletter {
    

    & > h3 {
    
    }

    &__newsletter-input {
      display: flex;

      & > input {

      }

      & > button {

      }
    }
  }
}

// .page-content {
// }


//Contenu temporaire

.card--test {
  background-color: rgb(29, 29, 29);
  margin: 20px;
  padding: 10px;

  & > a {
    color: rgb(223, 223, 223);
    text-decoration: none;
  }
}

.recipes__filter {
  display: flex;
  flex-wrap: wrap;
  gap: rem(5) rem(20);
  margin-bottom: rem(20);
}