@use './base.scss' as *;
@use './foundations/functions' as *;

@font-face {
  font-family: 'Montserrat';
  src: url('/_fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montez';
  src: url('/_fonts/Montez-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Montserrat, sans-serif;
}

.sectionTemporaire--nav {
  display: flex;
  gap: rem(16);
  padding: rem(16);
  background-color: var(--grisFonce);
  flex-wrap: wrap;
}

.inventaire {
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  margin-bottom: rem(20);
}



// .page-content {
// }


//Contenu temporaire

.card--test {
  background-color: rgb(29, 29, 29);
  margin: 20px;
  padding: 10px;

  & > a {
    color: rgb(223, 223, 223);
    text-decoration: none;
  }
}

.recipes__filter {
  display: flex;
  flex-wrap: wrap;
  gap: rem(5) rem(20);
  margin-bottom: rem(20);
}