@use './base.scss' as *;
@use './foundations/functions' as *;

@font-face {
  font-family: 'Montserrat';
  src: url('/_fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montez';
  src: url('/_fonts/Montez-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Montserrat, sans-serif;
}

.sectionTemporaire--nav {
  display: flex;
  gap: rem(16);
  padding: rem(16);
  background-color: var(--grisFonce);
  flex-wrap: wrap;
}

.inventaire {
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  margin-bottom: rem(20);
}



// .page-content {
// }


//Contenu temporaire

.card--test {
  background-color: rgb(29, 29, 29);
  margin: 20px;
  padding: 10px;

  & > a {
    color: rgb(223, 223, 223);
    text-decoration: none;
  }
}

.recipes__filter {
  display: flex;
  flex-wrap: wrap;
  gap: rem(5) rem(20);
  margin-bottom: rem(20);
}

.footer{
  background-color: black;
  display: flex;
  color: white;
  padding: rem(25) rem(100);
  justify-content: space-between;
  gap: rem(150);

  &__section_logo {
    margin-top: rem(35);
    width: fit-content;
  }

  &__logo {
    width: rem(150);
    height: rem(72);
  }

  &__rights {
    font-size: rem(20);
    white-space: pre;
  }

  &__sectionRight {
    display: flex;
    margin-top: rem(25);
    gap: rem(30);
    justify-content: space-between;
    width: 100%;
  }

  &__section_FreshRecipe, &__section_news, &__section_AboutUs, &__section_newsletter {
    

    & > h3 {
     font-size: rem(20);
    }

    & > ul {
      padding: 0;

      & > li {
       list-style: none;
      }
    }
  }

  &__section_newsletter {
    margin-left: rem(70);

    & > h3 {
      font-family: montez;
      font-size: rem(40);
      font-weight: normal;
    }
  }

  &__newsletter-input {
    display: flex;
    border: solid rem(1) white;
    justify-content: space-between;
    padding: 0 rem(20);

    & > input {
      border: none;
      background-color: #00000000;
      color : white;
      font-size: rem(20);
    }

    & > button {
      border: none;
      background-color: #00000000;
      color : white;
      padding: 0;

      & > svg {
        width: rem(50);
        height: rem(50);
      }
    }
  }
  @media (max-width: rem(1500)) {
    flex-direction: column-reverse;
    gap: 0;

    &__section_logo {
      margin-top: rem(25);
      width: 100%;
    }

    &__logo {
      display: none;
    }

    &__rights {
      white-space: pre;
      text-align: center;
    }

    &__reductRights {
      display: inline;
    }

    &__sectionRight {
      flex-wrap: wrap;
      gap: rem(40);
      justify-content: center;
      text-align: center;

      & > div {
        & > h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
  @media (max-width: rem(1160)) {
    &__section_newsletter{
      margin: rem(20);
    }
  }
  @media (max-width: rem(550)) {
    &__newsletter-input{
      & > input {
        max-width: calc(100% - rem(50));
      }
    }
  }
}