@use './functions' as *;

:root {
  --color-background: #fff;
  --color-text: #000;
  --color-primary: green;

  --font-size-base: #{rem(14)};

  font-family: 'Montserrat', sans-serif;
  font-family: 'Montez', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-text: #fff;
  }
}
